config ZMK_STUDIO_RPC_PERF
    bool "Enable Studio RPC performance measurement"

if ZMK_STUDIO_RPC_PERF

config ZMK_STUDIO_RPC_PERF_HANDLER
    bool "Enable Studio RPC performance measurement handler"
    depends on ZMK_STUDIO

endif
